@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ff8914;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    overflow: hidden; 
    position: fixed;
    width: 100%; 
    top: 0;
}

nav ul {
    list-style-type: none;
    
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1rem;
}


nav ul li a:hover {
    background-color: #ffffffcb;
    color:  #fb32e0cb;
    transition: background-color 0.6s ease;
}

#content {
    padding: 20px;
}
